
.form-container h2 {
  text-align: center;
}

.difference {
  padding: 10px;
  align-items: center;
  display: block;
  margin: 20px auto;
  /* text-align: center; */
}

.difference p {

  text-align: center;
}

/* text boxes */

label {
  margin-bottom: 5px;
}

.text-area {
  display: flex;
  flex-direction: row;

}

.text-area div {
  display: block;
  margin: 0 auto;
}

textarea {
  width: 100%;
  height: 300px;

  resize: both;
}


 /* button  */
.btn-success {
  display: block;
  margin: 20px auto;
  margin-bottom: 20px;
  text-align: center;
}
